@import "tailwindcss";

@theme {
    --sidebar-width: 25vh
}

.sidebar {
    background-color: var(--color-background);
    /* background-color: #ffffff; */
    height: 100vh;
    transition: left 0.2s ease-in-out;
    width: var(--sidebar-width);
    position: fixed;
    left: calc(-1 * var(--sidebar-width));
}

.sidebar.open {
    left: 0px;
    box-shadow: 10px 0px 25px var(--color-background);
    /* box-shadow: 10px 0px 25px #ffffff; */
}

.sidebar-blur {
    transition: all 0.2s;
    backdrop-filter: blur(0px);
    opacity: 0;
    visibility: hidden;
}

.sidebar-blur.show {
    backdrop-filter: blur(4px);
    opacity: 1;
    visibility: visible;
}
